@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;
}

body{
    font-family: degular, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* plus minus */
details > summary {
    list-style-type: "+";
  }

  details[open] > summary {
    list-style-type: "-";
  }


   /* OTF */
   .otf{
    font-family: orpheuspro, serif;
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "salt";
    color: #fcfcfc;
    -webkit-text-stroke: 1.7px;
    -webkit-text-stroke-color: #B70000;
    z-index: 10;
    font-size: 4.5rem;
    line-height: 1.2;
}
 /* cursor */
 body{
  cursor: none;
 }
 #cursor {
  background-color: black;
  border-radius: 25px;
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  filter: invert(1);
  mix-blend-mode: difference;
 }
 .navBar{
  filter: invert(1);
  mix-blend-mode: difference;
  -webkit-animation: 3.5s ease 0s normal forwards 1 fadein;
  animation: 3.5s ease 0s normal forwards 1 fadein;
 }

nav a.red,
nav a:hover {
  color: #B70000;
}


.wrapperHeading {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapperHeading > .line {
  width: 100%;
  height: 4rem;
  position: relative;
  overflow: hidden;
}

.l1 {
  overflow: hidden;
  display: block;
}

.l1 span { 
  animation-delay: 1.5s;
  animation-duration: 1.3s;
  animation-name: wipe-up;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.l1 span {
  transform: translateY(100%);
  display: block;
}

@keyframes wipe-up {
  0% {
      transform: translateY(100%);
      opacity: 0.1;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}




/* ul > li > img {
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 250ms, opacity 250ms;
    pointer-events: none;
    width: min(50vw, 800px);
}
ul > li:hover > img{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
 }

 details + img {
    opacity: 0;
    transform: translate(-5%, -5%) scale(0.5);
    transition: transform 250ms, opacity 250ms;
    pointer-events: none;
    width: min(50vw, 800px);
 }
 details:hover + img {
    opacity: 1;
    transform: translate(-5%, -5%) scale(1);
 } */

 /* NAV ON HOVER */
 .navList > li > a > p {
  opacity: 0;
  transition: transform 450ms, opacity 450ms;
  transform: scale(0.5);
 }
 .navList > li:hover > a > p {
  opacity: 1;
  transform:  scale(1);
 }

/* REDO PROJECT LIST DESKTOP */
.projectList + img {
  opacity: 0;
  transform: translate(-5%, -5%) scale(0.5);
  transition: transform 450ms, opacity 450ms;
  pointer-events: none;
  width: min(50vw, 800px);
}
.projectList:hover + img {
  opacity: 1;
  transform: translate(-5%, -5%) scale(1);
}
.projectList:hover img {
  rotate: -25deg;
  transition: 0.3s ease-in-out;
}
.projectList + img + p {
opacity: 0;
transform: translate(-5%, -5%) scale(0.5);
transition: transform 450ms, opacity 450ms;
pointer-events: none;
width: min(50vw, 800px);
}
.projectList:hover + img + p {
opacity: 1;
transform: translate(-5%, -5%) scale(1);
}


/* FADE IN ANIMATION */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  } 

  /* opacity animation */

  #scrollDown{
    -webkit-animation: 3.5s ease 0s normal forwards 1 fadein;
    animation: 3.5s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}




  /* fade left to right */
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }

  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

/* responsive images */
.column {
  flex: 20%;
  padding: 0 4px;
}
.column1 {
  flex: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column1 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}



  /* MEDIA QUERIES */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


@media screen and (max-width: 500px) {
  .mobileNoShow{
    display: none;
  }
}
@media screen and (max-width: 928px) {
  #cursor{
    display: none;
  }
  body{
    cursor: auto;
  }
}

@media screen and (min-width: 728px) {
  .wrapperHeading > .line {
    height: 8rem;
  }
  .wrapperHeading {
    width: 90vw;
  }
}
